<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LemonSW dashboard</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#e05200">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Web app for controlling lemonSW boards">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/index.css?hash={% if hash %}{{ hash }}{% endif %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid p-0">
        <div class="row no-pad">
            <div class="col-2 mobile-bar" id="navbar">
                <nav class="sidebar">
                    <div class="sidebar-sticky">
                        <div class="pre-logo"></div>
                        <div class="logo"></div>
                        <div class="post-logo"></div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <span class="fake-link nav-link active" onclick="nav.load('control')" id="control"
                                    title="Control the lemonSW">
                                    <i data-feather="sliders"></i>
                                    Control
                                </span>
                            </li>
                            <li class="nav-item">
                                <span class="fake-link nav-link mt-2" onclick="nav.load('manager')" id="manager"
                                    title="Change lemonSW's settings">
                                    <i data-feather="edit"></i>
                                    Manager
                                </span>
                            </li>
                            <li class="nav-item">
                                <span class="fake-link nav-link mt-2" onclick="nav.load('settings')" id="settings"
                                    title="Change account settings">
                                    <i data-feather="settings"></i>
                                    Settings
                                </span>
                            </li>
                            <span class="align-bottom" style="width: 100%;">
                                <li class="nav-item">
                                    <span class="fake-link nav-link mt-1"
                                        onclick="location.href='http://kck.st/2Z84RTn';" title="Go to Kickstarter">
                                        <i data-feather="info"></i>
                                        About
                                    </span>
                                </li>
                                <h6
                                    class="sidebar-heading d-flex justify-content-center align-items-center mb-3 mt-3 text-muted">
                                    <small style="color: #eceff1e0;">Version:&nbsp;<a
                                            href="https://github.com/efrenbg1/rmote.app" style="color: #FEED54;"
                                            title="Go to GitHub">{% if hash %}{{ hash }}{% else %}error{% endif %}</a></small>
                                </h6>
                            </span>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-6 mobile-blank" id="blank">
                <button type="button" class="block" onclick="tools.hideNavbar()">Close menu</button>
            </div>
            <div class="col" id="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm">
                            <nav class="navbar no-margin">
                                <div class="d-flex justify-content-start my-2">
                                    <div class="mobile-button" id="menu-button">
                                        <button type="button" class="btn btn-outline-secondary mr-2"
                                            onclick="tools.showNavbar()"><i data-feather="menu"></i></button>
                                    </div>
                                    <a class="navbar-brand ml-2 m-0 p-0 pt-1" href="javascript:" id=title></a>
                                </div>
                                <form class="form-inline mt-2 mr-0">
                                    <small class="mt-n2" id="account"></small>
                                    <button type="button" class="btn btn-link mt-n2" onclick="session.LogOut()"
                                        title="Close session"><i data-feather="log-out"></i>
                                    </button>
                                </form>
                            </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <hr class="divider mt-0">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <div id="grid">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center toast-bottom">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast">
            <div class="toast-header">
                <div id="toastContent"></div>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>


    <div class="modal" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="mt-4">
                        <img alt="Logo" src="/icon/android-chrome-192x192.png" width="150" class="mb-2">
                    </div>
                    <p class="" id="login_msg">
                    </p>
                    <form class="mt-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i data-feather="user"></i></span>
                            </div>
                            <input name="" class="form-control" placeholder="Email" type="email" id="user">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i data-feather="lock"></i></span>
                            </div>
                            <input name="" class="form-control" placeholder="Password" type="password" id="pw">
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-success mt-3 mb-2 btn-block" onclick="session.LogIn()"
                                title="LogIn"><i data-feather="log-in"></i>&nbsp;Login</button>
                        </div>
                        <h6
                            class="sidebar-heading d-flex justify-content-center align-items-center mb-3 mt-4 text-muted">
                            <small>Not registered?&nbsp;<a href="/register.html">Create an account</a></small>
                        </h6>
                    </form>
                    <div class="hr-sect text-muted mt-5 mb-2">
                        <span>
                            <h5>Don't have a board?</h5>
                        </span>
                    </div>
                    <div class="text-center text-muted">
                        <p>Boards can be purchased via PayPal</p>
                        <button type="button" class="btn btn-warning" onclick="location.href='/buy.html'"><i
                                data-feather="shopping-cart"></i>&nbsp;Buy
                            now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="loading">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <div class="my-5" style="font-size: 2rem;">Loading...</div>
                        <div class="my-5">
                            <div class="spinner-border text-warning" style="width: 5rem; height: 5rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="logging">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <div class="my-5" style="font-size: 2rem;">Logging in...</div>
                        <div class="my-5">
                            <div class="spinner-border text-warning" style="width: 5rem; height: 5rem;" role="status">
                                <span class="sr-only">Logging in...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="offline" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mt-3 mb-5 text-center">
                            <img alt="404" src="/img/404.png" height="300" width="300">
                            <h3><b>¡No Internet connection!</b></h3>
                        </div>
                        <div class="text-center mb-2">
                            <button type=button class="btn btn-outline-secondary" data-dismiss="modal"
                                onclick="nav.reconstruct()">
                                <center><img alt="Recargar la página" src="/img/refresh.svg" height="30" width="30"
                                        class="m-0"></center>&nbsp;Retry&nbsp;
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="update" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <div class="mt-3 mb-5 text-center">
                            <img alt="205" src="/img/205.png" height="300" width="300">
                            <h3><b>¡Update available!</b></h3>
                        </div>
                        <div class="text-center mb-2">
                            <button type=button class="btn btn-outline-secondary" data-dismiss="modal"
                                onclick="location.reload()">
                                <center><img alt="Recargar la página" src="/img/refresh.svg" height="30" width="30"
                                        class="m-0"></center>Update
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="error" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mt-3 mb-5 text-center">
                            <img alt="Error" src="/img/error.png" height="300" width="300">
                            <h3><b>Something went wrong!</b></h3>
                            <h5><small>The error has been logged and will be fixed as soon as possible. If the problem
                                    persists please contact me at <a
                                        href="mailto:efren@boyarizo.es">efren@boyarizo.es</a></small></h5>
                        </div>
                        <div class="text-center mb-2">
                            <button type=button class="btn btn-outline-secondary" data-dismiss="modal"
                                onclick="location.reload()">
                                <center><img alt="Recargar la página" src="/img/refresh.svg" height="30" width="30"
                                        class="m-0"></center>Reload
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="alert" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <button type="button" class="close mt-n4" data-dismiss="modal"
                            aria-label="Close">&times;</button>
                        <div class="mt-3 text-center">
                            <img alt="Error" height="120" width="120" class="mb-3" id="alertImg">
                            <div class="" role="alert" id="alertText">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="toomany" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mt-3 mb-5 text-center">
                            <img alt="Error" height="300" width="300" id="toomany_img">
                            <h3><b id="toomany_title"></b></h3>
                            <h5><small>The maximum number of tabs per user is limited to 5. <b>To continue please close
                                        at least one.</b> If for some reason you can't access try to <a
                                        href="javascript:session.showLogIn('message-square', 'Login to continue', 'info');">login</a>.
                                </small></h5>
                        </div>
                        <div class="text-center mb-2">
                            <button type=button class="btn btn-outline-secondary" data-dismiss="modal"
                                onclick="location.reload()">
                                <center><img alt="Recargar la página" src="/img/refresh.svg" height="30" width="30"
                                        class="m-0"></center>&nbsp;Retry&nbsp;
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var isIE = /*@cc_on!@*/false || !!document.documentMode;
    var isEdge = !isIE && !!window.StyleMedia;
    if ((isIE || isEdge) && document.cookie.indexOf("Unsupported") == -1) {
        console.log("Unsupported browser!");
        var d = new Date();
        d.setTime(d.getTime() + 1440 * 60 * 1000);
        document.cookie = "Unsupported=true" + "; expires=" + d.toUTCString() + ";path=/";
        alert("This browser is not compatible with rmote.app. You may still browse the site but it may not work properly. It is recommended to use Firefox, Safari or any of the Chromium browsers.");
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/feather-icons@4.28.0/dist/feather.min.js" crossorigin="anonymous"></script>
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/sw.js')
            .then(function () {
                console.log("Service Worker Registered");
            });
    }
    var version = '{% if hash %}{{ hash }}{% endif %}';
</script>
<script src="/libs.min.js?hash={% if hash %}{{ hash }}{% endif %}"></script>
<script src="/sections.min.js?hash={% if hash %}{{ hash }}{% endif %}"></script>
<script>
    nav.reconstruct();
</script>

</html>